
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">

        <div class="form-title text-center">
            <h2 class="text-dark">Submit Coin</h2>
            <span class="text-light">Use the below form to create add a new coin</span>
        </div>

        <!-- add user form -->
        <%- include('include/_form') %>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
