
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
            <!-- form handling -->
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Coin</th>
                            <th class="mobileContent">Chain</th>
                            <th class="mobileContent">Symbol</th>
                            <th class="mobileContent">Market Cap</th>
                            <th>Price</th>
                            <th class="mobileContent">Launch Date</th>
                            <th>Votes</th>
                            <th>Vote</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div class="navbar">
                            <div class="container">
                    
                                <img id="mobile-cta" class="mobile-menu">
                    
                                <nav>
                                    <img id="mobile-exit" class="mobile-menu-exit">
                                
                                    <ul class="primary-nav">
                                        <li><a href="/">All Coins</a></li>
                                        <li><a href="/">New Coins</a></li>
                                    </ul>
                                    
                                </nav>
                            </div>
                        </div>
                        <%- include('include/_show') %>
                    </tbody>
                </table>

            


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->