
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
            <!-- form handling -->
            <div class="container page-section py-5">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Icon</th>
                            <th>Coin</th>
                            <th class="mobile_content">Chain</th>
                            <th class="mobile_content">Symbol</th>
                            <th class="mobile_content">Market Cap</th>
                            <th class="mobile_content">Price</th>
                            <th class="mobile_content">Launch Date</th>
                            <th>Vote</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show') %>
                    </tbody>
                </table>
            </div>

            


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->