
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/index.js"></script>

            <section class="footer">
            <div class="text-center">
            <a class="logo" href="/"><img src="img/logo.png" alt="Coinbaba"></a>
            </div>
            <h3 class="text-center">Contact us</h3>
            <ul class="text-center">
                <li><a href="/"><i class="fab fa-dribbble"></i></a> 
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-vk"></i></a></li>
              </ul>

            </section>    
<!-- Badge Code - Do Not Change The Code 
<div class="text-center">
  <h7>Total Visitors</h7>
  <h7>Unique Visitors</h7>
</div>
<div class="text-center">
<a class="hitCounter" href="https://visitorshitcounter.com/" target="_blank" title="Hit counter" data-name="a43b91a9c7a565a5c7c4385acda4b63a|5|page|1|rgb(52, 48, 48);|#ffffff|large|s-hit">Total Visitors</a><script>document.write("<script type='text/javascript' src='https://visitorshitcounter.com/js/hitCounter.js?v="+Date.now()+"'><\/script>");</script>
<!-- Badge Code - Do Not Change The Code 
<a class="hitCounter" href="https://visitorshitcounter.com/" target="_blank" title="Hit counter" data-name="a43b91a9c7a565a5c7c4385acda4b63a|5|ip|1|rgb(49, 42, 42);|#ffffff|large|s-hit">Unique Visitors</a><script>document.write("<script type='text/javascript' src='https://visitorshitcounter.com/js/hitCounter.js?v="+Date.now()+"'><\/script>");</script>
<!-- Badge Code End Here 
<!-- Badge Code End Here 
</div>-->
  <!-- ################################################################################################ -->
  <p class="text-center">Copyright &copy; 2021 - All Rights Reserved - <a href="/">coinbaba.in</a></p>
  <!-- ################################################################################################ -->

</body>
</html>