
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<script src="/js/index.js"></script>

            <h1 class="text-center">CoinBaba</h1>
            <h3 class="text-center">Contact us</h3>
            <ul class="text-center">
                <li><a href="/"><i class="fab fa-dribbble"></i></a> 
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-vk"></i></a></li>
              </ul>

            
  <!-- ################################################################################################ -->
  <p class="text-center">Copyright &copy; 2021 - All Rights Reserved - <a href="/">coinbaba.in</a></p>
  <!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>

</body>
</html>