<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="COINBABA" content="">

  <title>Coinbaba</title>

  <link rel="stylesheet" href="css/bootstrap.css">

  <link rel="stylesheet" href="css/maicons.css">

 <!-- <link rel="stylesheet" href="vendor/animate/animate.css"> 

  <link rel="stylesheet" href="vendor/owl-carousel/css/owl.carousel.min.css">

  <link rel="stylesheet" href="vendor/fancybox/css/jquery.fancybox.min.css"> -->

  <link rel="stylesheet" href="css/theme.css">

</head>
<body>

  <!-- Page Loader 
  <div class="loader-container mobile_content">
    <img src="img/ripple.svg" alt="">
  </div>-->

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-float">
      <div class="container">
        <a class="logo" href="/"><img src="img/logo2.png" alt="Coinbaba"></a>
        

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto py-3 py-lg-0">
            <li class="nav-item">
              <a href="/" class="nav-link">All Coins</a>
            </li>
            <li class="nav-item">
              <a href="add-user" class="nav-link">Submit Coin</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link">About</a>
            </li>
            <li><h1></h1></li>
            <form action="search" method="GET">
              <input type="text" class="form-control" placeholder="Search Coin .." name="name">
            </form>
            

        </div> <!-- .navbar-collapse -->
      </div> <!-- .container -->
    </nav> <!-- .navbar -->

    <div class="page-banner home-banner bg-img overlay-dark_gradient" style="background-image: url(img/bg_image_1.jpg);">
      <div class="hero-section">
        <div class="container wow fadeInUp">
          <div class="row justify-content-center text-center">
          </div>
        </div>
         <!-- <ul><a class="advert" href="/"><img src="img/adv.gif" alt="Coinbaba"></a></ul>-->
      </div>
    </div>
  </header>



