<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coinbaba</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    
    <!-- Header -->
        <header id="header">
            <div class="navbar">
                <div class="container">
                    <a class="logo" href="/"><img src="img/logo.png" alt="Coinbaba"></a>
        
                    <img id="mobile-cta" class="mobile-menu">
        
                    <nav>
                        <img id="mobile-exit" class="mobile-menu-exit">
                        
                        <ul class="primary-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/">View All Coins</a></li>
                            <li><a href="/">New Coins</a></li>
                            <li><a href="/add-user" class="">Submit Coin</a></li>
                        </ul>
                        <ul class="secondary-nav">
                            <li class="box-nav d-flex justify-between">
                                <a href="/contact">Contact Us</a>
                                <a href="https://twitter.com/" ><i class="fab fa-twitter"></i></a>
                                <a href="https://t.me/"><i class="fab fa-telegram"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </header>
    <!-- /Header -->
